body
{
    }

 .hide {visibility:hidden;}

.header {width:1080px; text-align:left; height:70px; clear:both; position:relative;z-index:999999;}
.header.short {height:80px;}

.rcbSlide {z-index:9999999 !important;}
.simpleSearchCB:after
{
    border-bottom: 6px solid #545455;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 164px;
    position: absolute;
    top: -6px;
}

.logo {width:350px; padding:19px 0 0 25px; height:60px; float:left;}

.siteLinks {
    height: 38px;
    text-align: left;
    width: 500px;
    float:right;
    padding:42px 0 0 0;
}

.siteLinks .account {
    float: right;
    height: 29px;
    overflow: hidden;
    width: 745px;
}

.siteLinks .account .loginstatus {float:right; text-align:right; color:#777777; height:24px; font-size:12px; width:220px;}

.siteLinks .aboutUs {
    color: #777777;
    display: block;
    float: right;
    font-size: 12px;
    height: 29px;
    margin: 0 0 0 20px;
    padding: 4px 0 0;
    text-align: left;
    text-decoration: none;
    width: 81px;
}
.siteLinks .support {
    color: #777777;
    display: block;
    float: right;
    font-size: 12px;
    height: 29px;
    padding: 4px 0 0;
    text-align: center;
    text-decoration: none;
    width: 86px;
}
.siteLinks .myAccount {
    background: url("/skins/pitscoIS/Default/images/dd_down-gray.gif") no-repeat scroll 74px 6px transparent;
    color: #777777;
    display: block;
    float: right;
    font-size: 12px;
    height: 29px;
    margin: 0 0 0 10px;
    padding: 4px 0 0;
    text-align: left;
    text-decoration: none;
    width: 115px;
}

.siteLinks #acctMenu {
    background-color: #FFFFFF;
    border: 1px solid #1B1E9A;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    left: 555px;
    padding: 8px 10px;
    position: absolute;
    top: 65px;
    visibility: hidden;
    width: 180px;
    z-index: 10000;
    font-size:12px;
}
.siteLinks #acctMenu ul {
    margin: 0;
    padding: 0;
}
.siteLinks #acctMenu ul li {
    color: #1B1E9A;
    list-style-type: none;
    padding: 2px 0;
}
.siteLinks #acctMenu ul li a {
    color: #1B1E9A;
    text-decoration: none;
}
.siteLinks .account a:hover, .siteLinks #acctMenu ul li a:hover {
    text-decoration: underline;
}
.siteLinks .phone {
    background-color: transparent;
    color: #4f4f4f;
    display: block;
    float: right;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    height: 29px;
    margin: 0 25px 0 20px;
    padding: 0;
    text-align: right;
    /*width: 134px;*/
}
.siteLinks .phone a {
    color: #4f4f4f;
}

.megamenu {
    /*clear: both;*/
    float: left;
}

/*.megamenu h5
{
    font-size:14px;
}*/

.searchCartContainer {
    float: right;
    height: 52px;
    /*overflow: hidden;*/
    width: 810px;
}

.searchCartContainer .apCart
{
    width:88px; height:52px; float:right;
}

.searchCartContainer .CartList {
    float: right;
}
.searchCartContainer .CartList a {
    background: url("/skins/pitscoIS/Default/images/myCart3.gif") no-repeat scroll left bottom transparent;
    display: block;
    height: 45px;
    text-decoration: none;
    width: 86px;
}
.searchCartContainer .CartList a.hasAlert {
    background: url("/skins/pitscoIS/Default/images/myCart3.gif") no-repeat scroll -86px bottom transparent;
    display: block;
    height: 45px;
    text-decoration: none;
    width: 86px;
}
.searchCartContainer .CartList a span {
    display: none;
}
.searchCartContainer .CartList table {
    border-collapse: collapse;
    float: right;
}
.searchCartContainer .CartList table td {
    margin: 0;
    padding: 0;
}
.searchCartContainer .CartList table td.cartBtnleft div {
   /* background: url("/skins/pitscoIS/Default/images/cartBtnLeftBG2.gif") no-repeat scroll left top transparent;*/
    height: 16px;
    width: 8px;
    -webkit-background-size: 100% 16px; /* Safari 3-4 */
    background-size: 100% 16px;
    background-color:#4cd05b;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-radius:8px 0 0 8px;
}
.searchCartContainer .CartList table td.cartBtnmiddle div#itemCount {
   /* background: url("/skins/pitscoIS/Default/images/cartBtnMiddleBG2.gif") repeat-x scroll left top transparent;*/
    height: 16px;
    font-size:11px;
    background-color:#4cd05b;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.searchCartContainer .CartList table td.cartBtnmiddle div span {
    color: #FFFFFF;
    display: inline;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-weight: bold;
    position: relative;

}
.searchCartContainer .CartList table td.cartBtnright div {
    /*background: url("/skins/pitscoIS/Default/images/cartBtnRightBG2.gif") no-repeat scroll left top transparent;*/
    height: 16px;
    width: 8px;
    background-color:#4cd05b;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    border-right:1px solid #fff;
    border-radius:0 8px 8px 0;
}
/*.simplesearch2 {
    background: url("/skins/pitscoIS/Default/images/search2_bg.gif") no-repeat scroll left top transparent;
    float: left;
    height: 37px;
    margin-top: 10px;
    padding: 5px 0 0 5px;
    width: 460px;
}
.simplesearch2 .search h1 {
    display: none;
}
.simplesearch2 .search .search_controls br {
    display: none;
}
.simplesearch2 .search .search_controls span, .simplesearch2 .search .search_controls input.radEnabledCss_8, .simplesearch2 .search .search_controls a, .simplesearch2 .search .ComboBox_8 {
    float: left;
    margin: 0;
}

#searchLoading.show {display:block;}
#searchLoading.hide {display:none;}
#searchLoading{position:absolute; width:70px; height:30px; background-color:#fff;
    opacity: 0.5;
    filter: alpha(opacity=50);}

.MySearchLoadingImage
{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-8px;
	margin-left:-8px;
}

.search_controls table {
    height: 30px;
}
.search_controls table tr td {
    height: 28px;
    vertical-align: top;
}
.search_controls table tr td.one {
    background: url("/skins/pitscoIS/Default/images/searchControlsBG.gif") repeat-x scroll left top transparent;
    width: 101px;
}
.search_controls table tr td.two {
    width: 275px;
      border: 1px solid #C3CBD3;
}

.simplesearch2 .RadComboBox_Default, .simplesearch2 .RadComboBox_Default .rcbInput, .simplesearch2 .RadComboBoxDropDown_Default {
    color: #333333;
    font: 12px "OpenSansBold","Trebuchet MS",Helvetica,sans-serif !important;
}
.simplesearch2 .RadComboBox_Default .rcbInputCellLeft, .simplesearch2 .RadComboBox_Default .rcbInputCellRight, .simplesearch2 .RadComboBox_Default .rcbArrowCellLeft, .simplesearch2 .RadComboBox_Default .rcbArrowCellRight {
    -moz-border-bottom-colors: none !important;
    -moz-border-image: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 #E7EAEC !important;
    border-color: #C3CBD3 !important;
    border-style: solid !important;
    border-width: 1px 0 1px 1px !important;
    color: #333333 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    height: 26px !important;
    padding-left: 6px !important;
    padding-top: 2px !important;
    vertical-align: middle !important;
}
.simplesearch2 .RadComboBox_Default .rcbArrowCellRight {
    background: url("/RadControls/ComboBox/Skins/8/DropArrow.gif") no-repeat scroll 4px -1px #E7EAEC !important;
    border-width: 1px 0 !important;
}
.simplesearch2 .RadComboBoxDropDown_Default .rcbHovered {
    background: none repeat scroll 0 0 #EEEEEE !important;
    color: #000000;
}
.simplesearch2 .RadComboBoxDropDown .rcbItem {
    font: 12px "OpenSansRegular","Trebuchet MS",Helvetica,sans-serif !important;
}
.simplesearch2 .rcbScroll {
    background: url("/RadControls/ComboBox/Skins/8/dropDownBg.gif") repeat-x scroll left top #FFFFFF !important;
}
.simplesearch2 .RadComboBoxDropDown .rcbItem, .simplesearch2 .RadComboBoxDropDown .rcbHovered, .simplesearch2 .RadComboBoxDropDown .rcbDisabled, .simplesearch2 .RadComboBoxDropDown .rcbLoading, .simplesearch2 .RadComboBoxDropDown .rcbCheckAllItems, .simplesearch2 .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    margin: 0 !important;
    padding: 3px !important;
}

.RadComboBoxDropDown_Default ul.rcbList li {font: 12px "OpenSansRegular","Trebuchet MS",Helvetica,sans-serif !important;}*/
.simplesearch2 {

    float: left;
    height: 32px;
    margin-top: 11px;
    padding: 0;
    width: 450px;
}
.simplesearch2 .search h1 {
    display: none;
}
.simplesearch2 .search .search_controls br {
    display: none;
}
.simplesearch2 .search .search_controls span, .simplesearch2 .search .search_controls input.radEnabledCss_8, .simplesearch2 .search .search_controls a, .simplesearch2 .search .ComboBox_8 {
    float: left;
    margin: 0;
    padding:2px 0 0 8px;
}
.simplesearch2 .search .search_controls span.searchLabel {display:block; padding:5px 8px 0 0; font-size:14px; color:#fff; font-weight:bold;}

#searchLoading.show {display:block;}
#searchLoading.hide {display:none;}
#searchLoading{position:absolute; width:45px; height:28px; background-color:#fff;border-radius:0 6px 6px 0;
    opacity: 0.5;
    filter: alpha(opacity=50);}

.MySearchLoadingImage
{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-8px;
	margin-left:-8px;
}

.search_controls table {
    height: 28px;
}
.search_controls table tr td {
    height: 24px;
    vertical-align: top;
}

.search_controls table tr td.three .commonButton
{
    border-radius:0 6px 6px 0;
}


.search_controls table tr td.one {
    width: 25px;
}
.search_controls table tr td.one .border
{
      border: 1px solid #C3CBD3;
      height:26px;
      background-color:#ebeaea;
      color:#a0a0a0;
      font-weight:bold;
      overflow:hidden;
      padding: 0 4px 0 4px;
}
.search_controls table tr td.one .border .RadComboBox_Default .rcbInput
{
    padding:0px !important;
}
.search_controls table tr td.two {
    width: 335px;
}
.search_controls table tr td.two .border  {
      border-top: 1px solid #C3CBD3;
      border-bottom: 1px solid #C3CBD3;
      height:26px;
      background-color:#fff;
      border-radius:6px 0 0 6px;
}
.search_controls table tr td.three
{
    width: 25px;
}
.search_controls table tr td.three input
{
    margin:0;
    height:28px;
}

.simplesearch2 .RadComboBox_Default, .simplesearch2 .RadComboBox_Default .rcbInput, .simplesearch2 .RadComboBoxDropDown_Default {
    color: #333333;
    font: 12px Verdana,Arial,Helvetica,sans-serif !important;
    height:21px;
    font-weight:bold;
}

.RadComboBoxDropDown_Default {
    width:200px !important;
    border-color:#545455 !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);
}

.simplesearch2 .RadComboBox_Default .rcbInputCellLeft {display:none;}

.simplesearch2 .RadComboBox_Default .rcbInputCellLeft, .simplesearch2 .RadComboBox_Default .rcbInputCellRight, .simplesearch2 .RadComboBox_Default .rcbArrowCellLeft, .simplesearch2 .RadComboBox_Default .rcbArrowCellRight {
    -moz-border-bottom-colors: none !important;
    -moz-border-image: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 transparent !important;
    color: #333333 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    height: 24px !important;
    /*padding-left: 6px !important;*/
    padding-top: 2px !important;
    vertical-align: middle !important;
}
.simplesearch2 .RadComboBox_Default .rcbArrowCellRight {
    background: url("/skins/pitscoIS/Default/images/dd_down-gray.gif") no-repeat scroll center center #ebeaea !important;
   }

.RadComboBoxDropDown_Default.simpleSearchCB .rcbHovered {
    background: none repeat scroll 0 0 #eee !important;
    color: #000000;
}
.simplesearch2 .RadComboBoxDropDown .rcbItem {
    font: 12px Verdana,Arial,Helvetica,sans-seriff !important;
}
.simplesearch2 .rcbScroll {
    background: url("/RadControls/ComboBox/Skins/8/dropDownBg.gif") repeat-x scroll left top #FFFFFF !important;
}
.simplesearch2 .RadComboBoxDropDown .rcbItem, .simplesearch2 .RadComboBoxDropDown .rcbHovered, .simplesearch2 .RadComboBoxDropDown .rcbDisabled, .simplesearch2 .RadComboBoxDropDown .rcbLoading, .simplesearch2 .RadComboBoxDropDown .rcbCheckAllItems, .simplesearch2 .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    margin: 0 !important;
    padding: 5px !important;
}

.RadComboBoxDropDown_Default ul.rcbList li {font: 11px Verdana,Arial,Helvetica,sans-serif !important; padding:4px;}


html body .simplesearch2 .riSingle .riTextBox, html body .simplesearch2 .riSingle .riTextBox[type="text"] {padding: 3px 0 1px 4px;
  border-width:0px;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin: 0;
    padding-left: 10px;
    padding-top: 3px;
    width: 272px;
    color: gray;
    font-style: italic;
    float:left;
    background-color:transparent;
}

html body .simplesearch2 .riSingle .riEnabled, html body .simplesearch2 .riSingle .riEnabled[type="text"],
html body .simplesearch2 .riSingle .riHover, html body .simplesearch2 .riSingle .riHover[type="text"] ,
html body .simplesearch2 .riSingle .riFocused, html body .simplesearch2 .riSingle .riFocused[type="text"]
{
    color:#000;
    font-style:normal;
    }




html body .simplesearch2 .riSingle .riTextBox, html body .simplesearch2 .riSingle .riTextBox[type="text"] {padding: 3px 0 1px 4px;
  border-width:0px;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin: 0;
    padding-left: 3px;
    padding-top: 3px;
    width: 222px;
    color: gray;
    font-style: italic;
    float:left;
}

html body .simplesearch2 .riSingle .riEnabled, html body .simplesearch2 .riSingle .riEnabled[type="text"],
html body .simplesearch2 .riSingle .riHover, html body .simplesearch2 .riSingle .riHover[type="text"] ,
html body .simplesearch2 .riSingle .riFocused, html body .simplesearch2 .riSingle .riFocused[type="text"]
{
    color:#000;
    font-style:normal;
    }








/*

.megamenu .RadMenu_Default.rmSized {
    height: 40px !important;
    width: 225px !important;
}
.megamenu .RadMenu_Default .rmGroup .rmText h2 {
    color: #333333;
    font-size: 16px;
    padding: 2px 0 0;
}
.megamenu .RadMenu_Default a.rmLink {
    color: #fff;
    height: 40px;
    margin: 0;
    padding: 0;
}
.megamenu .RadMenu_Default .rmLink:hover, .megamenu .RadMenu_Default .rmFocused, .megamenu .RadMenu_Default .rmExpanded {
    background-color: Transparent !important;
    color: #fff !important;
    cursor: pointer;
}
.megamenu .RadMenu_Default a.rmLink span {
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 13px;
}
*/


.megamenu .RadMenu_Default
{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}
.searchCartContainer .megamenu .RadMenu_Default {width:250px !important;}

.megamenu .RadMenu_Default .rmRootGroup, .megamenu .RadMenu_Default a.rmLink, .megamenu .RadMenu_Default .rmGroup .rmText, .megamenu .RadMenu_Default .rmVertical .rmText, .megamenu .RadMenu_Default .rmLeftArrow, .megamenu .RadMenu_Default .rmRightArrow, .megamenu .RadMenu_Default .rmTopArrow, .megamenu .RadMenu_Default .rmBottomArrow {
    background: none repeat scroll 0 0 transparent !important;
    margin: 0;
}
.megamenu .RadMenu_Default .rmRootGroup {
    border-color: #383838 #010101 #010101;
    border-style: solid;
    border-width: 0 !important;
}
.megamenu .RadMenu_Default .rmGroup, .megamenu .RadMenu_Default .rmMultiColumn, .megamenu .RadMenu_Default .rmGroup .rmVertical {
    background: none repeat scroll 0 0 transparent !important;
    border-width: 0 !important;
    padding:0px;
}

.megamenu .RadMenu_Default .rmSlide .rmGroup:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 85px;
    position: absolute;
    top: -7px;
}
.megamenu .RadMenu_Default .rmSlide .rmGroup:after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 86px;
    position: absolute;
    top: -6px;
}
.searchCartContainer .megamenu .RadMenu_Default .rmSlide .rmGroup:before {
    left: 142px;
}
.searchCartContainer .megamenu .RadMenu_Default .rmSlide .rmGroup:after {
    left: 143px;
}
.megamenu .RadMenu_Default .rmSlide  .rmSlide .rmGroup:before,
.megamenu .RadMenu_Default .rmSlide .rmSlide  .rmGroup:after
{
    display:none;
}

.megamenu .RadMenu_Default .rmSlide
{
    border:1px solid #eee;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;

            -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);
            -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.44);
            background-color:#fff;
}
.megamenu .RadMenu_Default .rmSlide  .rmSlide
{
            -webkit-border-top-left-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-radius-topleft: 0px;
            -moz-border-radius-bottomleft: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
                        height:279px !important;
            width:400px !important;
}

.megamenu .RadMenu_Default .rmSlide .flyOut.sci {
            background:transparent url("/skins/pitscoIS/Default/images/science_flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.tech {
            background:transparent url("/skins/pitscoIS/Default/images/technology_flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.eng {
            background:transparent url("/skins/pitscoIS/Default/images/engineering_flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.math {
            background:transparent url("/skins/pitscoIS/Default/images/math_flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.intSTEM {
            background:transparent url("/skins/pitscoIS/Default/images/Integrated_STEM_flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.pd {
            background:transparent url("/skins/pitscoIS/Default/images/professional_development_flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.dp {
            background:transparent url("/skins/pitscoIS/Default/images/dropout-prevention-flyout.jpg") -9999px -9999px no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.topCats {
            background:transparent url("/skins/pitscoIS/Default/images/top_Categories_flyout2016.jpg") -9999px -9999px no-repeat;
}

.megamenu .RadMenu_Default .rmSlide .flyOut.sci .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/science_flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.tech .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/technology_flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.eng .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/engineering_flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.math .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/math_flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.intSTEM .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/Integrated_STEM_flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.pd .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/professional_development_flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.dp .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/dropout-prevention-flyout.jpg") top right no-repeat;
}
.megamenu .RadMenu_Default .rmSlide .flyOut.topCats .rmSlide {
            background:#fff url("/skins/pitscoIS/Default/images/top_Categories_flyout2016.jpg") top right no-repeat;
}

.searchCartContainer .megamenu .RadMenu_Default .rmSlide
{
    left:-55px !important;
    width:175px !important;
}

.megamenu .RadMenu_Default .rmText
{
    padding:0px;
}

.megamenu .RadMenu_Default .rmText span.products {
    background: url("/skins/pitscoIS/Default/images/dd_down-white.gif") no-repeat scroll 80px 28px transparent;
    display: block;
    height: 51px;
    width: 168px;
    color:#fff;
    cursor:pointer;
}
.searchCartContainer .megamenu .RadMenu_Default .rmText a {text-decoration:none;}
.megamenu .RadMenu_Default .rmText span.clubs
{
    background: url("/skins/pitscoIS/Default/images/dd_down-white.gif") no-repeat scroll 82px 27px transparent;
    display: block;
    font-weight:bold;
    line-height:14px;
    width: 160px;
    padding-top:11px;
    height: 41px;
    color:#fff;
    cursor:pointer;
}
.megamenu .RadMenu_Default .rmText span.community
{
   padding-left:20px;
    display: block;
    font-weight:bold;
    line-height:14px;
    /*width: 160px;*/
    padding-top:25px;
    height: 27px;
    color:#fff;
    cursor:pointer;
}

.megamenu .RadMenu_Default .rmText span.products span.bigger
{
    display:block;
    font-size:16px;
    font-weight:bold;
    margin:-3px 0 0 0;
}


.searchCartContainer .megamenu .RadMenu_Default .rmText .menuItem a {width:160px;}
.megamenu .RadMenu_Default .rmText .menuItem a
{
    text-decoration:none;
    color:#4b4b4b;
    display:block;
    padding:0 8px 0 8px;
    background-color:transparent;
}
.megamenu .RadMenu_Default .rmText .menuItem a:hover
{
    background-color:#eee;
}

.megamenu .RadMenu_Default.hover-sci .flyOut.sci .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-tech .flyOut.tech .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-eng .flyOut.eng .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-math .flyOut.math .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-intSTEM .flyOut.intSTEM .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-pd .flyOut.pd .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-dp .flyOut.dp .rmText .menuItem a,
.megamenu .RadMenu_Default.hover-topCats .flyOut.topCats .rmText .menuItem a
{
    background-color:#eee;
}

.megamenu .RadMenu_Default .rmItem .rmItem:first-of-type .rmText .menuItem a:hover
{
    border-radius:8px 8px 0 0;
}

.megamenu .RadMenu_Default .rmItem .rmItem:last-of-type .rmText .menuItem a:hover
{
    border-radius:0 0 8px 8px;
}

.megamenu .RadMenu_Default .rmItem .rmItem .rmText .menuItem a span
{
    width:212px;
    height:30px;
    display:block;
    font-size:16px;
    border-bottom:1px solid #eee;
    background : url("/skins/TETRIX/images/flyout_arrow.gif") no-repeat scroll right center transparent;
    padding:4px 0 0 0;

}
.megamenu .RadMenu_Default .rmItem .rmItem .rmText .menuItem a span.smaller
{
    font-size:15px;
    letter-spacing:-.05em;
}
.searchCartContainer .megamenu .RadMenu_Default .rmItem .rmItem .rmText .menuItem a span
{
    width:160px;
    height:24px;
    display:block;
    font-size:14px;
    border-bottom:1px solid #eee;
    background : none transparent;
    padding:2px 0 0 0;

}
.megamenu .RadMenu_Default .rmItem .rmItem:last-of-type .rmText .menuItem a span
{
    border-bottom: 0px solid #fff;
}

.megamenu .RadMenu_Default .rmItem .rmItem .rmText .menuItem a span span
{
    width:auto;
    height:auto;
    display:inline;
    font-weight:bold;
    font-size:22;
    background:transparent none;
    border-bottom:0px solid #eee;
}

.searchCartContainer .megamenu .RadMenu_Default .rmItem
{
    display:block;
    float:left;
    width:120px;

}
.megamenu .RadMenu_Default .rmItem .rmItem
{

}


.megamenu .menuFlyOut {padding:10px; width:380px; height:259px;}
.megamenu .menuFlyOut,
.megamenu .menuFlyOut a {color:#666666;}
.megamenu .menuFlyOut ul.flyOutLinks {margin:0;padding:0;}
.megamenu .menuFlyOut ul.flyOutLinks li {padding:0 0 20px 0; list-style-type: none; font-weight:bold;}
.megamenu .menuFlyOut ul.flyOutLinks li span.links {display:block;font-weight:normal; margin-left:20px;}
.megamenu .menuFlyOut ul.flyOutLinks li span.links.alt {line-height:16px;}
.megamenu .menuFlyOut ul.flyOutLinks li.topCats,
.megamenu .menuFlyOut ul.intSTEM li,
.megamenu .menuFlyOut ul.pd li,
.megamenu .menuFlyOut ul.dp li {padding:0 0 4px 0;}


.cartPopUp  {position:absolute; top:125px; right:10px; z-index:11000; padding:10px; background-color:#fff; width:500px;
                 border: 2px solid #005AA7;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}

.cartPopUp #cartItemAdded {position:relative;}
.cartPopUp #cartItemAdded span  {position:absolute; top:5px; right:10px; z-index:11000; padding:10px; background-color:#fff; width:500px;
                 border: 2px solid #005AA7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px #BBBBBB;}

.cartPopUp.phy h3 {border-bottom:1px solid #005AA7;}
.cartPopUp.dig h3 {border-bottom:1px solid #EFAD36;}
.cartPopUp.dig h3 a.phyCartTab {background-color:#3E77A5;}
.cartPopUp.phy h3 a.digCartTab {background-color:#EFC275;}
.cartPopUp h3 a,
.cartPopUp.dig h3 a:hover.phyCartTab,
.cartPopUp.phy h3 a:hover.digCartTab{color:#fff; text-decoration:none; display:inline-block; float:left;padding:4px 10px 4px; margin:0 8px 0 0; font-weight:bold; background-color:#005AA7; color:#fff; font-size:14px;
    border-radius: 6px 6px 0px 0px;}
.cartPopUp h3 a.digCartTab,.cartPopUp.phy h3 a:hover.digCartTab {background-color:#EFAD36;}
.cartPopUp h3 a:hover span.tab {text-decoration:underline;}
.cartPopUp h3 a span.cartListItemCount {font-size:11px;}
.cartPopUp h3 a:hover span.cartListItemCount {text-decoration:none;}

.cartPopUp h3 .cartHide {float:right; margin:0 4px 0 0;}
.cartPopUp h3 .cartHide a {display:inline; font-size:10px; border-radius:0; background-color:transparent; color:#005AA7;}
.cartPopUp h3 .cartHide a:hover {text-decoration:underline;}
.cartPopUp .cartAlert div {text-align:center; color:Red; display:block; margin:4px 0 4px 0; border:1px solid red;}
.cartPopUp .cartAlert div.cartMsg2 {text-align:left; color:Red; display:block; margin:4px 0 4px 0; border:1px solid red;}
.cartPopUp .cartAlert div.cartMsg2 ul.notAvailItems {margin:4px 0 4px 0;}
.cartPopUp .cartAlert a {float:right; font-size:10px; padding:2px;}
.cartPopUp .cartAlert span {margin:8px; display:block; clear:right;}
.cartPopUp .priceStar {font-weight:bold; color:Red;}
.cartPopUp .cartItemList {padding:0; height:200px; overflow:auto;}
.cartPopUp .cartItemList table {width:100%;}
.cartPopUp .simpleCartLister tr.notAvailable td,
.cartPopUp .simpleCartLister tr.notAvailable td a {color:#ccc; background-color:#eee;}
.cartPopUp .simpleCartLister td {padding:8px; font-size:12px; border-top:1px solid #BBBBBB; vertical-align:top;}
.cartPopUp .simpleCartLister td.thumbnail {text-align:center; width:60px; vertical-align:middle;}
.cartPopUp .simpleCartLister td.price {width:100px;}
.cartPopUp .cartSubTotal {padding:8px 10px 8px; font-weight:bold; background-color:#BBBBBB; color:#fff; font-size:12px; border-radius: 0px 0px 6px 6px;}
.cartPopUp .cartSubTotal table {width:100%;}
.cartPopUp .cartSubTotal table td.cartListItemCount {}
.cartPopUp .cartSubTotal table td.cartListSubtotal {text-align:center; width:200px;}
.cartPopUp .cartSubTotal table td.cartListSubtotal .usd {font-size:12px;}
.cartPopUp .cartSubTotal table td.cartListCheckout {width:200px; text-align:right;}
/*.cartPopUp .cartSubTotal table td.cartListCheckout a {color:#fff; display:block; width:99px; height:20px;
    background: url("/skins/pitscoIS/Default/images/buttons/checkoutSmall.gif") no-repeat top left transparent;}
.cartPopUp .cartSubTotal table td.cartListCheckout a span {display:none;}*/


.headerBar
{
    height: 50px;
    background-color:#9fa0a0;
    clear:both;
    padding:5px 15px 5px 25px;
}

.header.short .headerBar {height: 10px;}


/*************************** Digital Cart *****************************************/
.digitalCartContainer {height:40px; width:1022px; border:1px solid #BBBBBB; background-color:#F4F5F7; margin-top:10px; margin-left:25px; padding:4px;}
.digitalCartContainer .apDigitalCart
{
    height:52px; position:relative;
}

.digitalCartContainer .DigitalCartList {
    float: right;
}
.digitalCartContainer .DigitalCartList a {
    background: url("/skins/pitscoIS/Default/images/myCartDigital.gif") no-repeat scroll left top transparent;
    display: block;
    height: 40px;
    text-decoration: none;
    width: 151px;
}
.digitalCartContainer .DigitalCartList a.hasAlert {
    background: url("/skins/pitscoIS/Default/images/myCartDigital.gif") no-repeat scroll -151px top transparent;
    display: block;
    height: 40px;
    text-decoration: none;
    width: 151px;
}
.digitalCartContainer .DigitalCartList a span {
    display: none;
}
.digitalCartContainer .DigitalCartList table {
    border-collapse: collapse;
    position:relative;
    top:10px; left:6px;
}
.digitalCartContainer .DigitalCartList a.hasAlert table {display:none;}

.digitalCartContainer .DigitalCartList table td {
    margin: 0;
    padding: 0;
}
.digitalCartContainer .DigitalCartList table td.digitalcartBtnleft {
    background: url("/skins/pitscoIS/Default/images/cartBtnLeftBG.gif") no-repeat scroll left top transparent;
    height: 20px;
    width: 10px;
    -webkit-background-size: 100% 20px; /* Safari 3-4 */
    background-size: 100% 20px;
}
.digitalCartContainer .DigitalCartList table td.digitalcartBtnmiddle {
    background: url("/skins/pitscoIS/Default/images/cartBtnMiddleBG.gif") repeat-x scroll left top transparent;
    height: 20px;
    font-size:12px;
}
.digitalCartContainer .DigitalCartList table td.digitalcartBtnmiddle span {
    color: #FFFFFF;
    display: inline;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-weight: bold;
}
.digitalCartContainer .DigitalCartList table td.digitalcartBtnright {
    background: url("/skins/pitscoIS/Default/images/cartBtnRightBG.gif") no-repeat scroll left top transparent;
    height: 20px;
    width: 10px;
}



.cartPopUp #digitalcartItemAdded {position:relative;}
.cartPopUp #digitalcartItemAdded span  {position:absolute; top:5px; right:10px; z-index:11000; padding:10px; background-color:#fff; width:500px;
                 border: 2px solid #EFAD36;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px #BBBBBB;}

.cartPopUp #digitalPopUp h3 {padding:4px 10px 4px; font-weight:bold; background-color:#EFAD36; color:#fff; font-size:14px;
    border-radius: 6px 6px 0px 0px;}
.cartPopUp #digitalPopUp h3 a {color:#fff;}

.cartPopUp .digitalcartHide {float:right; font-size:10px; margin:0 4px 0 0;}

.cartPopUp #digitalcartListing .cartItemList {padding:0; height:200px; overflow:auto; width:100%;}
.cartPopUp #digitalcartListing .cartItemList table {width:100%;}
.cartPopUp .digitalcartSubTotal {padding:8px 10px 8px; font-weight:bold; background-color:#BBBBBB; color:#fff; font-size:12px; border-radius: 0px 0px 6px 6px;}
.cartPopUp .digitalcartSubTotal table {width:100%;}
.cartPopUp .digitalcartSubTotal table td.digitalcartListItemCount {}
.cartPopUp .digitalcartSubTotal table td.digitalcartListSubtotal {text-align:center; width:200px;}
.cartPopUp .digitalcartSubTotal table td.digitalcartListSubtotal .usd {font-size:12px;}
.cartPopUp .digitalcartSubTotal table td.digitalcartListCheckout {width:200px; text-align:right;}


.digitalCartContainer .downloadLink {display:inline-block; margin:9px 0 0 10px; font-size:14px; color:#828282; font-weight:bold;}
.digitalCartContainer .downloadLink a {color:#828282;}
.digitalCartContainer .downloadLink a:hover {color:#666;}
