body {
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}


a {color: #171796;}
a img {border:0px solid #fff;}

h1, h2,h3, h4, h5
{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-weight:bold;
    margin:0 auto auto auto !important;
}

h1 {font-size:24px; margin-bottom:10px !important; padding-left:25px; padding-right:25px;}

.lpTitleHide {display:none;}

sup, sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}


.clear {clear:both;}

.message {text-align:center; color:Red; font-weight:bold; margin:10px 0 2px 0;}

a.commonButton,a:hover.commonButton { text-decoration:none;}

.commonButton
{
    background-color:#F4F4F4;
    border:1px solid #BBBBBB;
    border-radius: 6px 6px 6px 6px;
    text-transform:uppercase;
    font-size:12px;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-weight:bold;
    padding:4px 8px 4px 8px;
    color:#242BA4;
    white-space: nowrap;
   }

.commonButton.disabled
{
    color:#BBBBBB;
}

.commonButton.green
{
    color:#fff;
    background-color:#4cd05b;
    border:1px solid #489E46;

}

.commonButton.orange
{
    color:#fff;
    background-color:#FF9900;
    border:1px solid #E0931F;

}

.commonButton.darkgray
{
    color:#fff;
    background-color:#545455;
    border:1px solid #545455;

}

.cartPopUpLink, .digitalcartPopUpLink { cursor:inherit;}

.container {}
.subContainer {width:1080px; margin:0 auto 0 auto; text-align:left; padding:0 0 0 0;}

.main {min-height:150px;}
* html .main { height:150px; }

.showLeftNav, .hideLeftNav{width:1030px; padding:0 25px 0 25px;}
.showLeftNav .main {width:780px; float:right; padding:0;}
.showLeftNav .leftNav {width:230px; float:left;}

.hideLeftNav .main {width:1030px; float:none; padding:0 0 0 0;}
.hideLeftNav .leftNav {display:none;}

.leftNav .prodLeftNav {min-height:285px;}

.leftNav .whatsNew a
{
    background-color:#ebebeb;
    color:#ff0008;
    border:1px solid #959595;
    border-radius:12px;
    padding:10px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    margin:15px 0 10px 0;
    text-decoration:none;
    display:block;
}

.leftNav .catReqBtn
{
    background-color:#0053a0;
    color:#fff;
    padding:12px;
    font-weight:bold;
    font-size:18px;
    margin:15px 0 10px 0;
    border-radius:12px;
    width:176px;
}
.leftNav .catReqBtn a
{
    color:#fff;
    text-decoration:none;
}
.leftNav .catReqBtn a span
{
    font-weight:normal;
    font-size:16px;
}

.leftNav .subscribeBtn
{
    background-color:#073c6b;
    color:#fff;
    padding:12px;
    font-weight:bold;
    font-size:18px;
    margin:10px 0 15px 0;
    border-radius:12px;
    width:176px;
}
.leftNav .subscribeBtn a
{
    color:#fff;
    text-decoration:none;
}
.leftNav .subscribeBtn a span
{
    font-weight:normal;
    font-size:16px;
}

.leftNav .socMedContainer {width:200px;}
.leftNav .socMedContainer .socMedIcon
{
    display:block;
    width:42px;
    float:left;
    height:30px;
    text-align:center;
}

.leftNav .socMedContainer .socMedIcon a {width:30px;height:30px; display:inline-block;}
.leftNav .socMedContainer .socMedIcon a span {display:none;}

.leftNav .socMedContainer .socMedIcon.facebook {width:36px;text-align:left;}
.leftNav .socMedContainer .socMedIcon.facebook a {background:#fff url(/skins/pitscoIS/Default/images/facebookIcon.gif) top left no-repeat;}
.leftNav .socMedContainer .socMedIcon.facebook a:hover {background:#fff url(/skins/pitscoIS/Default/images/facebookIcon.gif) -30px 0 no-repeat;}
.leftNav .socMedContainer .socMedIcon.twitter a {background:#fff url(/skins/pitscoIS/Default/images/twitterIcon.gif) top left no-repeat;}
.leftNav .socMedContainer .socMedIcon.twitter a:hover {background:#fff url(/skins/pitscoIS/Default/images/twitterIcon.gif) -30px 0 no-repeat;}
.leftNav .socMedContainer .socMedIcon.googlePlus a {background:#fff url(/skins/pitscoIS/Default/images/googlePlusIcon.gif) top left no-repeat;}
.leftNav .socMedContainer .socMedIcon.googlePlus a:hover {background:#fff url(/skins/pitscoIS/Default/images/googlePlusIcon.gif) -30px 0 no-repeat;}
.leftNav .socMedContainer .socMedIcon.pinterest a {background:#fff url(/skins/pitscoIS/Default/images/pinterestIcon.gif) top left no-repeat;}
.leftNav .socMedContainer .socMedIcon.pinterest a:hover {background:#fff url(/skins/pitscoIS/Default/images/pinterestIcon.gif) -30px 0 no-repeat;}
.leftNav .socMedContainer .socMedIcon.youtube {width:36px;text-align:right;}
.leftNav .socMedContainer .socMedIcon.youtube a {background:#fff url(/skins/pitscoIS/Default/images/youtubeIcon.gif) top left no-repeat;}
.leftNav .socMedContainer .socMedIcon.youtube a:hover {background:#fff url(/skins/pitscoIS/Default/images/youtubeIcon.gif) -30px 0 no-repeat;}


.footer {clear:both;}

.level_path {
    margin: 10px 0 8px;
    padding: 2px 25px 30px 25px;
    font-size:12px;
}


.level_path .ex {position:relative; top:4px; display:inline-block; margin:0 0 0 2px; width:18px; height:16px; background:#fff url("/skins/PitscoIS/default/images/icon_delete_xNEW.gif") top right no-repeat;}
.level_path .ex span {display:none;}

/*.level_path .lPathItem {display:block; height:30px; float:left; margin:0 8px 0 0;}
.level_path .lPathItem .lPathLeft {display:block; float:left; width:6px; height:30px; background:#fff url("/skins/PitscoIS/default/images/lPathLeft.gif") top left no-repeat;}
.level_path .lPathItem .lPathMid {display:block; float:left; height:25px; padding-top:5px; background:#fff url("/skins/PitscoIS/default/images/lPathMid.gif") top left repeat-x;}
.level_path .lPathItem .lPathRight {display:block; float:right; width:6px; height:30px; background:#fff url("/skins/PitscoIS/default/images/lPathRight.gif") top left no-repeat;}
*/


.leftNav h2
{
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    margin: 0;
    padding: 5px 0 0 10px; background-color:#C7CFD7;
}



.IBleftBtn a {background:#fff url("/skins/PitscoIS/default/images/imagebrowserarrows.gif") -10px 0px no-repeat !important;}
.IBrightBtn a {background:#fff url("/skins/PitscoIS/default/images/imagebrowserarrows.gif") 0 0 no-repeat !important;}
.IBleftBtn a.noclick {background:#fff url("/skins/PitscoIS/default/images/imagebrowserarrows.gif") -30px 0px no-repeat !important;}
.IBrightBtn a.noclick {background:#fff url("/skins/PitscoIS/default/images/imagebrowserarrows.gif") -20px 0px no-repeat !important;}

.TelerikModalOverlay {z-index:999999 !important;}
.RadWindow {z-index:9999909 !important;}

.copyright {padding:10px; text-align:center;}


.stButton .facebook {
    background-image: url("/sharedimages/icons/st-facebook-16.gif") !important;}

.stButton .googleplus {
    background-image: url("/sharedimages/icons/st-googleplus-16.gif") !important;}

.stButton .linkedin {
    background-image: url("/sharedimages/icons/st-linkedin-16.gif") !important;}

.stButton .twitter {
    background-image: url("/sharedimages/icons/st-twitter-16.gif") !important;}

.stButton .pinterest {
    background-image: url("/sharedimages/icons/st-pinterest-16.gif") !important;}

.stButton .st-facebook-counter {background-image: url("/sharedimages/icons/st-facebook-16.gif") !important; width:16px !important; background-position:center center;}
